body {
  font-family: 'Roboto', sans-serif;
  color: #212121;
}

body.modal-open {
  overflow: hidden;
}

img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  margin: 0 auto;
  padding: 0px 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.list {
  list-style: none;
}

.section {
  padding: 60px 0;
}

.subscribe {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  margin: 0 0 20px 0;
  color: #FFFFFF;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.items {
  padding: 0;
  margin: 0;
}

.title {
  margin: 0 0 30px 0;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: #212121;
  letter-spacing: 0.03em;
}

.image {
  display: block;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.head-page {
  position: relative;
  border-bottom: 1px solid #ECECEC;
}

@media screen and (max-width: 767px) {
  .head-page > .container {
    padding: 16px 15px;
  }
}

@media screen and (min-width: 768px) {
  .head-page > .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #212121;
  letter-spacing: 0.03em;
}

.logo__style {
  color: #2196F3;
}

.nav-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .nav-page {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .nav-page {
    width: 100%;
  }
}

.nav-menu {
  display: block;
}

@media screen and (min-width: 768px) {
  .nav-menu {
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .nav-menu__list {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu__list {
    margin-right: 50px;
  }
  .nav-menu__list:last-child {
    margin: 0;
  }
}

.nav-menu__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: #212121;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu__link:hover, .nav-menu__link:focus {
  color: #2196F3;
}

@media screen and (max-width: 479px) {
  .nav-menu__link {
    font-size: 20px;
  }
}

@media screen and (min-width: 768px) {
  .nav-menu__link {
    padding: 32px 0;
    font-size: 14px;
  }
}

.nav-menu__link--blue {
  color: #2196F3;
}

@media screen and (min-width: 768px) {
  .nav-menu__link--blue::after {
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contacts__list:not(:first-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .contacts__list:not(:first-child) {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts__list {
    margin-bottom: 10px;
    width: 160px;
  }
  .contacts__list:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .contacts__list:last-child {
    margin: 0;
  }
}

.contacts__link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #757575;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196F3;
}

@media screen and (max-width: 479px) {
  .contacts__link {
    font-size: 20px;
    line-height: 30px;
  }
  .contacts__link--blue {
    font-size: 20px;
    line-height: 30px;
    color: #2196F3;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .contacts__link--blue {
    font-size: 34px;
    line-height: 40px;
    color: #2196F3;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    line-height: 1.1;
  }
}

.contacts__icon {
  display: none;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
  }
}

.gallery-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .gallery-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 399px) {
  .gallery-nav {
    display: block;
  }
  .gallery-nav__list:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  .gallery-nav__list {
    margin-right: 8px;
  }
  .gallery-nav__list:nth-child(3n) {
    margin-right: 0;
  }
  .gallery-nav__list:last-child {
    margin-right: 0;
  }
  .gallery-nav__list:not(:nth-child(n + 4)) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .gallery-nav__list {
    margin-right: 8px;
  }
  .gallery-nav__list:last-child {
    margin-right: 0;
  }
}

.gallery-nav__btn {
  padding: 6px 22px;
  cursor: pointer;
  background-color: #F5F4FA;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-nav__btn:hover, .gallery-nav__btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196F3;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: calc(-1 * 30px);
    margin-bottom: calc(-1 * 30px);
  }
}

.product__list:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .product__list {
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .product__list {
    width: calc((100% - 3 * 30px) / 3);
  }
}

.product__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__link:hover, .product__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .product__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product__thumb {
  position: relative;
  overflow: hidden;
}

.product__overlay {
  padding: 63px 24px;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: left;
}

.product__link:hover .product__overlay,
.product__link:focus .product__overlay {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.product__text {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.product__description {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.product__name {
  margin-bottom: 4px;
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.product__discribe {
  margin: 0;
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
  letter-spacing: 0.03em;
}

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}

@media screen and (max-width: 1200px) {
  .footer__box {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.logo--geometry {
  display: inline-block;
  margin-bottom: 20px;
}

.logo--color {
  color: #FFFFFF;
}

.address-box {
  margin-bottom: 60px;
}

.address__street {
  margin: 0 0 9px 0;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.address__item {
  margin-bottom: 9px;
}

.address__item:last-child {
  margin-bottom: 0;
}

.address__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff60;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196F3;
}

.social {
  margin-bottom: 60px;
}

.social__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__list {
  margin-right: 10px;
}

.social__list:last-child {
  margin-right: 0;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196F3;
}

.social__icon {
  fill: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media screen and (min-width: 768px) {
  .footer-form__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-form__input {
  width: 100%;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #FFFFFF;
  margin: 20px 0;
}

.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    margin: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
  }
}

.footer-form__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .footer-form__btn {
    margin: 20px auto 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__btn {
    margin: 0 0 0 12px;
  }
}

.footer-form__icon {
  margin-left: 10px;
}

.menu-button-open, .menu-button-close {
  border: none;
  background-color: transparent;
  padding: 0;
}

.menu-button-open:hover, .menu-button-close:hover, .menu-button-open:focus, .menu-button-close:focus {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .menu-button-open, .menu-button-close {
    display: none;
  }
}

.menu-button-close {
  position: absolute;
  top: 21px;
  right: 25px;
}

.menu-icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu {
  display: none;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.mobile-menu.is-open {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #FFFFFF;
}

.comunity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .comunity {
    display: none;
  }
}

.comunity__list {
  margin-right: 10px;
}

.comunity__list::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-left: 10px;
}

.comunity__list:last-child::after {
  content: '';
  display: none;
}

.comunity__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: #2196F3;
}

@media screen and (max-width: 479px) {
  .comunity__link {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-box {
    position: absolute;
    bottom: 48px;
  }
}

@media screen and (min-width: 768px) {
  .mobile-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=portfolio.css.map */