.company__lists {
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * #{$features-margin});
    margin-left: calc(-1 * #{$features-margin});
}

.company__logo {
    width: calc((100% - 2 * #{$features-margin}) / 2);
    margin-left: #{$features-margin};
    margin-top: #{$features-margin};

    @media screen and (min-width: 768px) {
        width: calc((100% - 3 * #{$features-margin}) / 3);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 6 * #{$features-margin}) / 6);
    }
}
.company__link {
    display: flex;
    justify-content: center;
    align-items: center;
    // max-width: 210px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color $primary-transition;
    
    &:hover,
    &:focus {
        border-color: $primary-color;
    }
}
.company__icon {
    fill: #AFB1B8;
    transition: fill $primary-transition;
   
    .company__link:hover &,
    .company__link:focus & {
        fill: $primary-color;
    }
}