.menu-button-open {
  border: none;
  background-color: transparent;
  padding: 0;

  &:hover,
  &:focus {
    fill: $primary-color;
  }
  
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.menu-button-close {
  @extend .menu-button-open;
  position: absolute;
  top: 21px;
  right: 25px;
}
.menu-icon {
  transition: fill $primary-transition;
}
.mobile-menu {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
.mobile-menu.is-open {
  display: block;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $secondary-color;
}

.comunity {
  display: flex;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.comunity__list {
  margin-right: 10px;
}
.comunity__list::after {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
  margin-left: 10px;
}
.comunity__list:last-child::after {
  content: '';
  display: none;
}
.comunity__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: $primary-color;
  @media screen and (max-width: 479px) {
    font-size: 12px;
  }
}

.mobile-box {
  @media screen and (max-width: 767px) {
    position: absolute;
    bottom: 48px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }


}
