.team-section {
    background-color: $cards-section-color;
}

.team-section__list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-right: calc(-1 * #{$features-margin});
        margin-bottom: calc(-1 * #{$features-margin});

    }
}

.team-section__item {
    background-color: $secondary-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: $features-margin;
    
    @media screen and (max-width: 767px) {
        &:last-child {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width: 768px) {
        width: calc((100% - 2 * #{$features-margin}) / 2);
        margin-right: $features-margin;
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 4 * #{$features-margin}) / 4);
    }
}

.team-section__image {
    display: block;
    // width: 270px;
    // height: 260px;
}